<h1>THE KNOWLEDGE BOWL</h1>

<h2><%= @game.id %></h2>
<table>
<% @equipos.each do |equipo| %>
		<tr>
			<td><%= equipo.id %></td>
			<td><%= equipo.name %></td>
			
			
			</tr>
<% end %>
</table>

timer:
<span id="timer"><%= javascript_tag("contador();") %></span>